@{
    Layout = "_LayoutMinimal";
}


<header>
    <div class="landing-brand">NetBooru</div>
    <nav>
        <ul class="landing-nav">
            <li class="landing-nav-item">
                <a class="landing-nav-link" asp-area="" asp-controller="Home" asp-action="Posts">Post Listing</a>
            </li>
        </ul>
    </nav>
</header>
