@{
    ViewData["Title"] = "Posts";
}

@model PostListViewModel

@section Subnav {
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="">Placeholder 2</a>
    </li>
}

<div class="text-center">
    @if (ViewBag.Query is {})
    {
        <p>You queried @ViewBag.Query</p>
    }

    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>@post.PostUrl (@post.ThumbnailUrl)</li>
        }
    </ul>
</div>
