@model RegisterFormModel

<form asp-action="Register" asp-controller="Auth">
    <label asp-for="Username">Username</label>
    <input asp-for="Username" />

    <label asp-for="Password" >Password</label>
    <input asp-for="Password" type="password" />

    <input type="submit" />
</form>
