[*.cs]
csharp_style_expression_bodied_lambdas = false:none
csharp_style_unused_value_expression_statement_preference = unused_local_variable:none
csharp_style_unused_value_assignment_preference = unused_local_variable:none
