<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetBooru</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open%20Sans" />
</head>
<body>
    <header>
        <nav class="nav-top border-bottom">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NetBooru</a>
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Account">My Account</a> <!-- TODO: Hide if single-user. Replace with "Login" if not logged in. -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Posts">Posts</a>
                    </li>
                </ul>
                <ul class="navbar-nav subnav">
                    @if (IsSectionDefined("Subnav"))
                    {
                        @await RenderSectionAsync("Subnav", required: true)
                    }
                    else
                    {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="">Placeholder</a>
                    </li>
                    }

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2020 - NetBooru - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
